#show2,#hide2 {
	display:none;
}
#content2 {
  display:none;
  background-color:white;
 border-radius: 10px;
}

input#show2:checked ~ div#content2 {
	display:inline-block;
}

input#hide2:checked ~ div#content2{
	display:none;
}
#show3,#hide3 {
	display:none;
}
#content3 {
  display:none;
  background-color:white;
 border-radius: 10px;
}

input#show3:checked ~ div#content3 {
	display:inline-block;
}

input#hide3:checked ~ div#content3{
	display:none;
}
#show4,#hide4 {
	display:none;
}
#content4 {
  display:none;
  background-color:white;
 border-radius: 10px;
}

input#show4:checked ~ div#content4 {
	display:inline-block;
}

input#hide4:checked ~ div#content4{
	display:none;
}
#show5,#hide5 {
	display:none;
}
#content5 {
  display:none;
  background-color:white;
 border-radius: 10px;
}

input#show5:checked ~ div#content5 {
	display:inline-block;
}

input#hide5:checked ~ div#content5{
	display:none;
}
#show6,#hide6 {
	display:none;
}
#content6 {
  display:none;
  background-color:white;
 border-radius: 10px;
}

input#show6:checked ~ div#content6 {
	display:inline-block;
}

input#hide6:checked ~ div#content6{
	display:none;
}
#show7,#hide7 {
	display:none;
}
#content7 {
  display:none;
    border: solid white 1px;
    border-radius: 10px;
}

input#show7:checked ~ div#content7 {
	display:inline-block;
}

input#hide7:checked ~ div#content7{
	display:none;
}
h3{
    color: white;
}
