.circulo {
    text-align: center;
    line-height: 250px;
    font-size: 40px;
     width: 250px;
     height: 250px;
     border-radius: 50%;
    margin-left: 20px;
    border:solid white 2px;
    cursor:pointer;
}
.circulo:hover{
    background-color: white;
    color: #14435b;
}
#containerrowcircle{
    display: inline-flex;
    width: 100%;
}