header {
    height: 10%;
    padding: 20px;
    display: flex;
}
body{
    background-image: url(../imagenes/mame/background.jpg);
    background-size: cover;
    color: white;
    font-family: sans-serif;
}
footer {
    height: 15%;
    padding: 10px;
}

header h1 {
    float: left;
    width: 90%;
}



a:link, a:hover, a:active, a:visited{
    color: inherit;
}


.article {
    width: 100%;
    height: 24.85%;
    overflow: scroll;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.container {
    text-align: center;
    display: inline-block;
    width: 99.85%;
}

div3 {
    float: left;
    width: 50%;
    height: 20%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

div4 {
    float: right;
    width: 45%;
    height: 40.1%;
}

div5 {
    float: right;
    width: 100%;
    height: 20%;
    border: 1px solid white;
}

div6 {
    float: left;
    width: 40%;
    height: 40%;
}

div7 {
    float: right;
    width: 50%;
    height: 20%;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
.container li {
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    margin-top: 10px;
    border: 1px solid white;
}

#social {
    float: right;
    width: 30px;
    color: black;
}
#menu li:hover{
    background-color: white;
    color: black;
}
#upfooter {
    text-align: center;
}
img:hover{
    transform: scale(2);
}
