#modal {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal img:hover{
    transform: none;
}
#mostrar {
  display: none;
}
#mostrar:checked ~ #modal {
  top: 0;
}
#ocultar {
  display: none;
}
#ocultar:checked ~ #modal {
  top: -100vh;
}
#modal2 {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal2 img:hover{
    transform: none;
}
#modal2 p {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}
#mostrar2 {
  display: none;
}
#mostrar2:checked ~ #modal2 {
  top: 0;
}
#ocultar2 {
  display: none;
}
#ocultar2:checked ~ #modal2 {
  top: -100vh;
}
#modal3 {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal3 img:hover{
    transform: none;
}
#modal3 p {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}
#modal3 img{
    margin-top: 60px;
}
#mostrar3 {
  display: none;
}
#mostrar3:checked ~ #modal3 {
  top: 0;
}
#ocultar3 {
  display: none;
}
#ocultar3:checked ~ #modal3 {
  top: -100vh;
}
#modal4 {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal4 img:hover{
    transform: none;
}
#modal4 p {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1em;
  text-align: center;
}
#modal4 img{
    margin-top: 100px;
}
#mostrar4 {
  display: none;
}
#mostrar4:checked ~ #modal4 {
  top: 0;
}
#ocultar4 {
  display: none;
}
#ocultar4:checked ~ #modal4 {
  top: -100vh;
}

#modal5 {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal5 img:hover{
    transform: none;
}
#modal5 p {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1em;
  text-align: center;
}
#mostrar5 {
  display: none;
}
#mostrar5:checked ~ #modal5 {
  top: 0;
}
#ocultar5 {
  display: none;
}
#ocultar5:checked ~ #modal5 {
  top: -100vh;
}
#modal6 {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal6 img:hover{
    transform: none;
}
#modal6 p {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1em;
  text-align: center;
}

#mostrar6 {
  display: none;
}
#mostrar6:checked ~ #modal6 {
  top: 0;
}
#ocultar6 {
  display: none;
}
#ocultar6:checked ~ #modal6 {
  top: -100vh;
}