h1,h2, h3 {
    color: white;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    
    height: 10%;
    padding: 20px;
    display: flex;
}

body {
    background-image: url(../imagenes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

footer {
    height: 15%;
    padding: 10px;
}

header h1 {
    float: left;
    width: 90%;
}

a:link,
a:hover,
a:active,
a:visited {
    color: inherit;
}

.container{
    text-align: center;
    display: inline-block;
    width: 99.85%;
}


.container ul li{
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    margin-top: 10px;
    border: 1px solid white;
    cursor: default;
}

#social {
    float: right;
    width: 30px;
    color: black;
}

#menu li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.leftcontainer {
    float: left;
    width: 50%;
}

.rightcontainer {
    float: right;
    width: 50%;
}

.containercolumn {
    width: 24%;
    height: 60%;
    display: inline-block;
    text-align: right;
}

.container ul {
    display: inline-flex;
}

.container li {
    margin-left: 5px;
}

.containerrow {
    height: 20vh;
}

img:hover {
    transform: scale(1.5);
}
#sectionfooter{
    color: white;
    width: 500px;
    margin-left: 35%;
}
h1 span{
    background-color: white;
    color: lightseagreen;
    border-radius: 10px;
}
h2 span{
    color: white;
    border-radius: 10px;
}
li:hover{
    color: lightseagreen;
    background-color: white;
}
.pagescroll{
    text-align: center;
    margin-top: 10%;
    
}
.pagescroll h3{
    color: white;
}
#btn{
    cursor: pointer;
}
#btn span:hover{
     color: red;
}
#introduccion {
    height: 250px;
    background-color: lightseagreen;
    position: static;
}

#introduccion p{
  width: 60%;
  height: 40%;
  position: static;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}