* {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: auto;
    width: 700px;
    font-family: sans-serif;
    margin-bottom: 200px;
}

ul,
ol {
    list-style: none;
}

.nav > li {
    float: left;
}

.nav li a {
    background-color: white;
    color: #14435b;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -220px;
    top: 20px;
}