#link:hover{
    position: relative;
}
#link:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/linkinpark.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#limp:hover{
    position: relative;
}
#limp:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/Limp_Bizkit.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#eminem:hover{
    position: relative;
}
#eminem:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/eminem.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#snoop:hover{
    position: relative;
}
#snoop:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/snoop.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#evan:hover{
    position: relative;
}
#evan:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/evancesnces.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#futbol:hover{
    position: relative;
}
#futbol:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/futbol.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#ejercicio:hover{
    position: relative;
}
#ejercicio:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/flexiones.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#parque:hover{
    position: relative;
}
#parque:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/parque.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#lurio:hover{
    position: relative;
}
#lurio:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/lurio.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#tele:hover{
    position: relative;
}
#tele:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/television.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#moxxo:hover{
    position: relative;
}
#moxxo:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/moxxo.gif);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#letra:hover{
    position: relative;
}
#letra:hover:after{
    content: url(../../../imagenes/adolescencia/gustos_secundaria/letrafea.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#colado:hover{
    position: relative;
}
#colado:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/colado.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#gta:hover{
    position: relative;
}
#gta:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/sanandreas.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#crazy:hover{
    position: relative;
}
#crazy:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/Crazy-Taxi1.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#counter:hover{
    position: relative;
}
#counter:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/counter.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#sims:hover{
    position: relative;
}
#sims:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/sims.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#habbo:hover{
    position: relative;
}
#habbo:hover:after{
    content: url(../../imagenes/adolescencia/gustos_secundaria/habbo.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}