#pulp:hover{
    position: relative;
}
#pulp:hover:after{
    content: url(../../imagenes/acerca/random/pulp_fiction_icono.jpg);
    display: block;
    position: absolute;
}
#origen:hover{
    position: relative;
}
#origen:hover:after{
    content: url(../../imagenes/acerca/random/origen_icono.jpg);
    display: block;
    position: absolute;
}
#matrix:hover{
    position: relative;
}
#matrix:hover:after{
    content: url(../../imagenes/acerca/random/Matrix_icono.jpg);
    display: block;
    position: absolute;
}
#crusader:hover{
    position: relative;
}
#crusader:hover:after{
    content: url(../../imagenes/acerca/random/crusader_kings2_icono.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#starcraft:hover{
    position: relative;
}
#starcraft:hover:after{
    content: url(../../imagenes/acerca/random/sc2_icono.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#warcraft:hover{
    position: relative;
}
#warcraft:hover:after{
    content: url(../../imagenes/acerca/random/wrc2_icono.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#cerveza:hover{
    position: relative;
}
#cerveza:hover:after{
    content: url(../../imagenes/acerca/random/heineken.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#cafe:hover{
    position: relative;
}
#cafe:hover:after{
    content: url(../../imagenes/acerca/random/cafe.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#te:hover{
    position: relative;
}
#te:hover:after{
    content: url(../../imagenes/acerca/random/te.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#puerco:hover{
    position: relative;
}
#puerco:hover:after{
    content: url(../../imagenes/acerca/random/puerco.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#res:hover{
    position: relative;
}
#res:hover:after{
    content: url(../../imagenes/acerca/random/res.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#mole:hover{
    position: relative;
}
#mole:hover:after{
    content: url(../../imagenes/acerca/random/mole.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#amsterdam:hover{
    position: relative;
}
#amsterdam:hover:after{
    content: url(../../imagenes/acerca/random/amsterdam.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#china:hover{
    position: relative;
}
#china:hover:after{
    content: url(../../imagenes/acerca/random/china.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}#berlin:hover{
    position: relative;
}
#berlin:hover:after{
    content: url(../../imagenes/acerca/random/berlin.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}
#italiano:hover{
    position: relative;
}
#italiano:hover:after{
    content: url(../../imagenes/acerca/random/italia.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}#portuges:hover{
    position: relative;
}
#portuges:hover:after{
    content: url(../../imagenes/acerca/random/portugal.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}#frances:hover{
    position: relative;
}
#frances:hover:after{
    content: url(../../imagenes/acerca/random/francia.png);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}#mandarin:hover{
    position: relative;
}
#mandarin:hover:after{
    content: url(../../imagenes/acerca/random/banderachina.jpg);
    display: block;
    position: absolute;
    left: -150px;
    top: -150px;
}